#Form{
	border:10px;
	border-radius:5px;
	background-color:#A9A9A9;
	width:450px;
	height:550px;
	border-color:black;
	margin:auto;
	padding:5px;
	padding-left:5px;
}
body{
	background-image:url("1.jpg");
}
#events{
	border-radius:10px;
	border-color:black;
	background-color:blue;
	text-align:center;
	color:white;
}
.error{
	border: 2px solid red;

}
